{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>ADD RESUME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login\HR.css' %}" />
    <script>
      function ValidateEmail() {
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        inputText = document.getElementById("email");
        if (inputText.value.match(mailformat)) {
          document.getElementById("email").focus();
          return true;
        } else {
          alert("You have entered an invalid email address!");
          document.getElementById("email").focus();
          return false;
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="random"></div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heading">
          <h1>JOB PORTAL</h1>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="horizontal-line"></div>
      <div class="container row">
        <div class="col-sm-3"></div>
        <p class="col-sm-6 info">
          Add your resume details here. This details will seen to company on
          there portal
        </p>
        <div class="col-sm-3"></div>
      </div>
      <div class="container">
        <form name="form" action="add_resume" method="POST">
          {% csrf_token %}
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Enter Your Name :</div>
            <div class="col-sm-3">
              <input class="border1" type="text" name="username" />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Enter Your Domain :</div>
            <div class="col-sm-3">
              <input class="border1" type="text" name="job_description" />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Enter Skills You Have :</div>
            <div class="col-sm-3">
              <input class="border1" type="text" name="skill" />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">Your Education:</div>
            <div class="col-sm-3">
              <input class="border1" type="text" name="education" />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              Enter Your Email
            </div>
            <div class="col-sm-3">
              <input
                class="border1"
                type="text"
                name="email"
                id="email"
                onchange="ValidateEmail()"
              />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row input">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              Enter Your Experience in your Domain (in years) :
            </div>
            <div class="col-sm-3">
              <input class="border1" type="text" name="experience" />
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="sub-btn">
            <input type="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
