.applicant h1{
	font-size: 40px;
	border-bottom: 6px solid green;
	margin-top: 1%;
	padding: 13px 0;
	width:30%;
}

.applicant{
	margin-left: 40%;
}

form div{
	margin-top: 20px;
}
.special{
	margin-top: 30px;
	margin-left: 10%;
}
.input{
	margin-left: 40px;
}
.input2{
	margin-left: 80px;
}
.input3{
	margin-left: 25px;
}
.input4{
	margin-left: 10px;
}
.input5{
	margin-left: 60px;
}